<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Fernandez Jordan</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" href="css/aos.css" />
</head>
<body>

	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-12" id="home-page"> -->
				<div id="nom"> test</div>
			<!-- </div> -->
		</div> 

	</div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
	var socket = io.connect('http://localhost:8080');
	socket.on('message', function (data) {
		console.log(data.count);
	});

	</script>
</body>
</html>